/** commom css start January 24, 22 **/ 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  /* Font Family */
  body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:18px;
    letter-spacing: 0;
  }
  h1,.h1{
    font-size: 60px;
  }
  h2,.h2{
    font-size: 48px;
    text-transform: capitalize;
  }
  h3,.h3{
    font-size:36px;
  }
  h4,.h4{
    font-size:30px;
  }
  h5,.h5{
    font-size: 24px;
  }
  h6,.h6{
    font-size: 18px;
  }
  .font_16{
    font-size: 16px;
  }
  .font_120{
    font-size: 120px;
  }
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  }
  .spaced-section {
    margin-top: 0rem;
  }
  
  a{
    outline: none;
    text-decoration: none;
  }
  h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0px;
    letter-spacing: 0;
    line-height: normal;
  }
  ul{
    padding: 0px;
    margin: 0px;
  }
  li{
    list-style-type: none;
  }
  img{
    max-width: 100%;
    height: auto;
  }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
      }