.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
  position: relative;
}
.newsletter-form__field-wrapper .field__input {
  padding-right: 56rem;
}
.newsletter-form__button {
  width: 10.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
  left:132%;
}
.newsletter-form__field-wrapper .field__input{
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-right: 56rem;
}
.field__label{
  color: #333;
}
 .field__button{
  color: #333;
  gap: 8px;
  background-color: #BFC6DE;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
@media screen and (max-width:1148px){
  .newsletter-form__field-wrapper .field__input {
    padding-right: 43rem;
}
.newsletter-form__button {
  left: 95%;
}
}
@media screen and (max-width:1024px){
  .newsletter-form__field-wrapper .field__input {
    padding-right: 24rem;
}
.newsletter-form__button {
  left: 71%;
}
}
@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}
/*
.newsletter-form__field-wrapper .field__input {
  padding-right: 56rem;
}
*/
.newsletter-form__field-wrapper .field::after {
  z-index: 0;
  border:none;
  display: none;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 10.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
  /*left:62%;*/
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  /*background-color: inherit;*/
}

.newsletter-form__button .icon {
  width: 1.5rem;
}
