.container{
    margin: 0 auto;
    max-width: 1200px;
  }
.Custom__homepage{
    background: linear-gradient(118.14deg, #DCB69A -2.18%, #F5EDE5 68.89%);
}
.hero{
    position: relative;
}
.hero-wrapper{
    display: flex;
}
.hero__left{
    max-width: 597px;
    padding-top: 66px;
    padding-bottom: 187px;
}
.hero__heading{
    font-family: IvyPresto Display;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1px;
}
.hero__text{
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0px;
    vertical-align: middle;
    max-width: 552px;
}
.hero__right{
    position: absolute;
    right: 0;
}
.button{
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #202020;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    margin-top: 20px;
}
.button::after{
    box-shadow:none!important;
}