.background__image{
    background-size: cover;
    background-repeat: no-repeat;
}
.background__head{
    padding-bottom: 50px;
}
.heading{
    padding-top: 95px;
    padding-bottom: 220px;
    font-family: IvyPresto Display;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: end;
}