.background__image{
    background-size: cover;
    background-repeat: no-repeat;
}
.background__head{
    padding-bottom: 50px;
}
.heading{
    padding-top: 119px;
    padding-bottom: 324px;
    text-align: left;
    display: flex;
    justify-content: right;
    font-family: IvyPresto Display;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
}